body{
    font-size: 18px;
    background-image: url('images/background-loginPage.jpg');
    font-family:Arial;
    color:rgba(61, 71, 212, 1);
}

input{
    display:block;
    margin-bottom:20px;
    padding:10px 60px;
    border-radius:10px;
    border-color:rgba(28, 41, 117, 0.192);
    font-size:16px;
    
}
button{
    padding:10px 20px;
    border-radius: 18px;
    background-color:rgba(61, 71, 212, 1);
    color:rgba(245, 246, 255, 0.979);
    border:none;
}
