.add
{
    background-color:white;
    opacity:0.09;
}
.add:hover{
    background-color: rgb(233, 233, 233);
    opacity:0.7;
}
body{
    background-color: rgb(232, 182, 238);
    color:purple;
    font-family:Arial;
    font-size:18px;
}
